*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#caseInputFeild{
    min-height: 250px;
}
.bdwrap {
	border: 1px solid #ddd;
	padding: 60px 0;
    margin-top: 50px;
}
.inputWrp {
	position: relative;
}
.inputWrp .copy {
	position: absolute;
	right: 11px;
	top: 7px;
	background: none;
	border: 0;
	color: #9a9a9a;
    display: none;
}
.inputWrp input{
    /* font-family: cursive; */
    letter-spacing: 4px;
}
.inputWrp .copy:active{
    color: rgb(0, 140, 255);
}
.genarate:active{
    background:rgb(0, 140, 255)!important;
}
.successMsg {
	position: absolute;
	left: 103%;
	top: 7px;
	display: inline-block;
	width: 78px;
	display: none;
}